@font-face {
  font-family: "Hamburger";
  src: url("/fonts/hamb.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Walkway";
  src: url("/fonts/walk.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
