---
import Layout from "~/layouts/Layout.astro";
import PageTitle from "~/components/atoms/PageTitle.astro";
import Form from "~/components/organisms/Form.svelte";
---

<Layout title="">
  <main class="container mx-auto mt-12 flex max-w-4xl flex-col items-center justify-center gap-12 md:flex-row">
    <PageTitle title="Contacto" />
    <Form client:load />
  </main>
</Layout>
