---
import Layout from "~/layouts/Layout.astro";
import PageTitle from "~/components/atoms/PageTitle.astro";
import Socials from "~/components/organisms/Socials.astro";
import Form from "~/components/organisms/Form.svelte";
---

<Layout title="Contacto">
  <main class="mx-auto mt-12 flex w-11/12 max-w-5xl flex-col items-center justify-center gap-12 md:w-10/12">
    <PageTitle title="Contacto" />
    <div class="flex w-full flex-col items-start justify-center gap-12 md:flex-row">
      <Socials />
      <Form client:load />
    </div>
  </main>
</Layout>
