---
import Layout from "~/layouts/Layout.astro";
---

<Layout title="">
  <main class="container mx-auto mt-12 flex max-w-6xl flex-col items-center justify-center gap-16">
    <PageTitle title="Galeria" />
  </main>
</Layout>
