---
import Layout from "~/layouts/Layout.astro";
import IndexCard from "~/components/molecules/IndexCard.astro";

import serviceImg from "~/assets/images/pexels-jacob-morch-426976.jpg";
---

<Layout title="">
  <main class="container mx-auto mt-32 grid grid-cols-2 gap-8">
    <IndexCard title="Hacemos de tu fiesta algo único" page="contact" image={serviceImg} large />
    <IndexCard title="Servicios" page="services" image={serviceImg} />
    <IndexCard title="Galeria" page="gallery" image={serviceImg} />
  </main>
</Layout>
