---
import Layout from "~/layouts/Layout.astro";
import IndexCard from "~/components/molecules/IndexCard.astro";

import { SITE } from "~/config.mjs";

import contactImg from "~/assets/images/pexels-cottonbro-studio-3171837.jpg";
import servicesImg from "~/assets/images/pexels-francesco-paggiaro-2111015.jpg";
import galleryImg from "~/assets/images/pexels-jessica-lewis-creative-593324.jpg";

const gallery = new URL(SITE.instagram);
---

<Layout title="">
  <main class="mx-auto mt-24 grid w-11/12 max-w-7xl grid-cols-1 gap-8 md:w-10/12 md:grid-cols-2">
    <IndexCard title="Hacemos de tu fiesta algo único" cta="Mandanos un mensaje!" page="contact" image={contactImg} large umamiEvent="Contact Clicked" />
    <IndexCard title="Servicios" page="services" image={servicesImg} umamiEvent="Services Clicked" />
    <IndexCard title="Galeria" link={gallery} image={galleryImg} umamiEvent="Gallery Clicked" />
  </main>
</Layout>
