---
import Layout from "~/layouts/Layout.astro";
---

<Layout title="">
  <main class="container mx-auto -mt-32 flex h-screen max-w-4xl flex-col items-center justify-center gap-12 md:flex-row"></main>
</Layout>
