---
import { SITE } from "~/config.mts";
---

<div>
  <p class="ml-2 whitespace-nowrap font-hamburger text-4xl text-white">
    {SITE.name}
  </p>

  <p class="-mt-2 whitespace-nowrap text-right font-walkway text-base font-bold text-white">
    {SITE.slogan}
  </p>
</div>
