---
import { SITE } from "~/config.mts";
---

<div>
  <p class="ml-2 whitespace-nowrap font-hamburger text-5xl text-white sm:text-6xl">
    {SITE.name}
  </p>

  <p class="-mt-2 whitespace-nowrap text-right font-walkway text-lg font-bold text-white sm:text-xl">
    {SITE.slogan}
  </p>
</div>
