---
import { SITE } from "~/config.mjs";
---

<div>
  <p class="ml-2 whitespace-nowrap font-hamburger text-6xl text-gray-900 dark:text-white">
    {SITE.name}
  </p>

  <p class="-mt-2 whitespace-nowrap text-right font-walkway text-xl font-bold text-gray-900 dark:text-white">
    {SITE.slogan}
  </p>
</div>
