---
import { Icon } from "astro-icon";
---

<button type="button" class="inline-flex items-center rounded-lg p-2 text-gray-100 transition hover:bg-black/20 focus:outline-none focus:ring-4 focus:ring-black/30" aria-label="Toggle Menu" data-aw-toggle-menu>
  <Icon name="tabler:menu" class="h-6 w-6" optimize={false} />
</button>
