---
import LogoSmall from "~/components/atoms/LogoSmall.astro";
---

<footer class="z-10 mt-32 w-full bg-gradient-to-b from-transparent to-black/70">
  <div class="container mx-auto my-4 flex flex-col items-end justify-between">
    <a href="/" class="mb-2 px-4" data-umami-event="Footer Logo Clicked">
      <LogoSmall />
    </a>
    <a href="https://www.pristineshock.com" target="_blank" class="group flex flex-col items-end justify-end px-4 text-white" data-umami-event="Footer PristineShock Clicked">
      <span class="font-inter text-sm">Powered by</span>
      <span class="-mt-2 font-abel text-lg font-bold decoration-2 underline-offset-2 transition-all group-hover:underline">PristineShock</span>
    </a>
  </div>
</footer>
