---
import { Icon } from "astro-icon";

interface Props {
  title: string;
  text: string;
  icon?: string;
}
const { title, text, icon } = Astro.props;
---

<article class="rounded-lg bg-black/70 p-6 backdrop-blur-xl">
  <header class="mb-2 flex items-center justify-start gap-2">
    {icon && <Icon name={icon} class="h-10 w-10 text-orange-400" />}
    <h2 class="bg-gradient-to-r from-orange-400 to-orange-200 bg-clip-text text-3xl font-bold tracking-tighter text-transparent">{title}</h2>
  </header>
  <main class="text-lg font-medium tracking-tight text-white">
    {text}
  </main>
</article>
