---
import { Icon } from "astro-icon";

interface Props {
  title: string;
  text: string;
  icon?: string;
}
const { title, text, icon } = Astro.props;
---

<article class="max-w-sm rounded-lg bg-black/30 p-8 text-white backdrop-blur-xl">
  <header class="mb-2 flex items-center justify-start gap-2">
    {icon && <Icon name={icon} class="h-8 w-8" />}
    <h2 class="text-2xl font-bold">{title}</h2>
  </header>
  <main class="font-medium tracking-tight">
    {text}
  </main>
</article>
