---
import "~/styles/base.css";
import "@fontsource/inter/variable.css";

import BasicScripts from "~/components/atoms/BasicScripts.astro";
import Picture from "~/components/atoms/Picture.astro";
import Navbar from "~/components/molecules/Navbar.astro";

import favicon from "~/assets/favicon.ico";
import backgroundImg from "~/assets/images/pexels-vishnu-r-nair-1105666.jpg";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href={favicon} />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? title : "Jota Eventos"}</title>
  </head>
  <body class="bg-gradient-to-b from-slate-800 to-slate-950">
    <BasicScripts />
    <div class="relative z-[-10]">
      <Picture src={backgroundImg} class="pointer-events-none absolute inset-0 h-screen w-full object-cover" widths={[768, 1600, 2400, 3600, 4480]} sizes="(max-width: 768px) 768px, (max-width: 1400px) 1600px, (max-width: 2400px) 2400px, (max-width: 3600px) 3600px, 4480px" alt="Gente bailand" aspectRatio="16:9" />
      <div class="noise pointer-events-none absolute inset-0 h-screen w-full backdrop-blur-sm"></div>
    </div>
    <Navbar />
    <slot />
  </body>
</html>
